<!DOCTYPE html>
<html>
<head>

	<!-- adicionando helper full_title para que cada página tenha um título definido por página ou um título geral -->
  <title><%= full_title(yield(:title)) %></title>


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
